.experience {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.experience__left {
    border-top: 1px solid beige;
    padding-top: 15px;
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    color: bisque;
    font-size: 0.8rem;   
}

.experience__right {
    height: 100px;
    text-align: left;
}

.experience__photo {
    width: 100%;
    height: 100%;
    background-color: white;
}

.experience__title {
    color: grey;
}

.experience__text {
    color: white;
}

.experience__title:hover {
    color:blanchedalmond;
}

.experience__text:hover {
    color: green;
}

.experience__right:hover {
    transform: translateY(-10px);
}

